@model IEnumerable<WebAppVsEat.Models.CardItem>

@{
    ViewData["Title"] = "Basket";
}

<h2>My order:</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    @{ 
        int totalShipping = 0;
        int quantity = 0;
        int idDish = 0;
    }

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    CHF @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
            </tr>

            int price = @item.price * item.quantity;
            totalShipping += price;
            idDish = item.idDish;
            quantity = item.quantity;


        }
        <p>Total price: CHF @totalShipping</p>
        <p>@Html.ActionLink("Make an order", "Order", new {totalPrice = totalShipping})</p>
    </tbody>
</table>
