@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "GetMyOrders";
}

<h2>My orders:</h2>

@if (ViewBag.email != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delivery_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delivery_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            CHF @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DishName)
                        </td>

                        @if (DateTime.Now.AddHours(3) < item.Delivery_time)
                        {
                            <td>
                                @Html.ActionLink("Cancel", "CancelOrder", new { idOrder = item.IdOrder })
                            </td>
                        }
                    </tr>

                }
                <p>
                    @Html.ActionLink("Cancelled orders", "GetCancelledOrders", new { email = ViewBag.email })
                </p>


            }
            else
            {
                <h3><p>No orders actually</p></h3>
                <p>
                    @Html.ActionLink("Cancelled orders", "GetCancelledOrders", new { email = ViewBag.email })
                </p>
            }
        </tbody>
    </table>
}
else
{
    @Html.ActionLink("Back to login","Index","Login")
}