@model IEnumerable<DTO.Order>

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "GetOrders";
}

<h2>My orders: </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCustomer)
                    </td>
                    <td>
                        @Html.ActionLink("Status", "EditOrder", new { id = item.IdOrder, isAccountValid = ViewBag.isAccountValid, isCourierValid = ViewBag.isCourierValid })

                    </td>
                </tr>


            }
        }
        else
        {
            <h3><p>Il n'y a pas de commande en cours</p></h3>
        }

        </tbody>
</table>
