@model DTO.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Merchant_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Merchant_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country_code)
        </dt>
        <dd>
            @ViewData["Address"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Restaurants">Back to List</a>
</div>
